<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tattooguestspot">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ArtistProfileActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".InkFactoryPaymentActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".InkFactoryProfileActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".paymentActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".StudioProfileActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".ListOfStudiosActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".SearchScreenActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".CreateAccountActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".SplashScreenActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginScreenActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
    </application>

</manifest>